 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merriweather+Sans:wght@300&display=swap');

 * {
     margin: 0;
     padding: 0;

 }

 /* heading-section */

 header {
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
     width: 90%;
     height: 600px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 10px;
     /* margin-bottom: 100px; */
 }

 .banner-text {
     color: #FFF;
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;

 }

 .banner-text .text-1 {
     font-size: 32px;
     font-weight: 400;
     margin: 0;
     padding-top: 175px;
 }

 .banner-text .text-2 {
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 55px;
     font-weight: 850;
     margin: 0 316px;
     padding-bottom: 175px;
 }

 /* main-section-start */

 .container-a {
     display: flex;
     justify-content: center;
 }

 .text-offer {
     text-align: center;
     font-family: 'Inter', sans-serif;
 }

 .text-offer .line-a {
     color: #F00;
     text-align: center;
     font-size: 88px;
     font-weight: 700;
     margin-bottom: 30px;

 }

 .text-offer .line-b {
     color: #F00;
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 5px;
 }

 .text-offer .line-c {
     color: #070211;
     font-size: 48px;
     font-style: normal;
     font-weight: 700;
     margin-top: 0;
     margin-bottom: 30px;
 }

 .container-a .new-year {
     width: 802.9px;
     height: 500px;
 }

 .welcome {
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     width: 90%;
     height: 600px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .container-party {
     align-items: center;
     display: flex;
     justify-content: space-between;

 }

 .container-party .welcome-title {
     max-width: 642px;
     color: #FFF;
     font-family: 'Merriweather Sans',
         sans-serif;
     font-size: 64px;
     font-weight: 680;
     padding-top: 126px;
     padding-left: 126px;
     padding-bottom: 0px;


 }

 .container-party .description {
     color: rgba(255, 255, 255, 0.80);
     max-width: 697px;
     font-family: 'Inter',
         sans-serif;
     font-size: 18px;
     font-weight: 400;
     padding-left: 126px;
     padding-top: 0;
     padding-bottom: 214px;

 }

 .bnt-a {
     color: #FFF;
     margin-right: 200px;
     margin-top: 42px;
     margin-left: 58px;
     font-family: 'Inter',
         sans-serif;
     text-align: center;
     font-size: 20px;
     font-weight: 800;
     padding: 0px 30px;
     border: none;
     background-color: transparent;
     text-transform: uppercase;
 }

 .img-party {

     max-width: 319px;

     margin: 68px 138px 150px 0px;
     flex-direction: column;
 }

 .container-location {
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     /* width: 90%; */
     height: 480px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 16px;
 }

 .container-location .location-text {
     text-align: center;
     padding-top: 100px;
     margin: 0;
     padding-bottom: 0;
     color: #070211;
     font-family: 'Inter',
         sans-serif;
     font-weight: 650;
     font-size: 32px;

 }


 .r {
     color: #F00;
 }


 .btn-b {
     padding: 16px 32px;
     border-radius: 8px;
     border: 0;
     background: #F00;
     gap: 10px;
     margin-top: 35px;
     font-size: 20px;
     font-weight: 700;
     font-family: 'Inter',
         sans-serif;
    color: #FFF;

 }

/* bonus-section-start-1 */

.bonus-container{
    display: flex;
    justify-content: space-around;
    max-width: 1320px;
    margin: 100px auto;
}

.bonus-container .bonus-text-a{
    margin-top: 100px;
}

.bonus-container .bonus-text-a h3{
    color: #F00;
    font-family: 'Inter',
    sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.bonus-container .bonus-text-a h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather Sans',
    sans-serif;
    margin-top: 16px;
}

.bonus-container .bonus-text-a p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter',
    sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 70px;

}

.bonus-container .bonus-text-b h2{
    color: #F00;
    font-family: 'Inter',
    sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 100px;

}
.bonus-text-b{
    margin-left: 167px;
}


.bonus-container .bonus-text-b p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter',
    sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;

}

.bonus-container .bonus-text-b img{
    margin-top: 40px;
}

.box img{
    padding: 10px;
    border-radius: 463px;
    border: 15px solid #F00;
}

/* bonus-section-start-2 */



.bonus-section2{
 align-items: center;
 justify-content: center;
 margin: 50px auto;
 

}


.bonus2-description{
    align-items: center;
    text-align: center;
    justify-content: center;

}



.bonus2-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.bonus-section2 .bonus2-description h3{
    color: #070211;
    font-family: 'Inter',
    sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.bonus-section2 .bonus2-description h2{
    color: #F00;
    text-align: center;
    font-family: 'Merriweather Sans',
sans-serif;
    font-size: 72px; 
    font-weight: 900;
    margin: 25px  
}

.bonus-section2 .bonus2-description span{
    color: #070211;
}

.bonus-section2 .bonus2-description p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter',
    sans-serif;
    font-size: 20px;
    font-weight: 500;
    max-width: 1000px;
    margin-top: 25px;
    margin-left: 400px;
    margin-bottom: 35px;

}


.bonus-section2{
    background-image:url('../resources/Rectangle\ 2.png') ;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: end;
    align-items: end;
}

.group-image-a{
    margin-left: 266px ;
    display: block;
}

.image-c{
    margin-right: 475px;
    display: block;
    text-align: right;
    justify-content: right;
   

}



/* portfolio-section-start */

 .portfolio {
     height: auto;
     max-width: 1320px;
     margin: 50px auto;
 }

 .gifts-container img {
     border-radius: 20px;
 }

 .portfolio-title {
     color: #F00;
     font-family: 'Inter', sans-serif;
     font-size: 24px;
     font-weight: 500;
 }

 .awesome-portfolio {
     color: #070211;
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 48px;
     font-weight: 900;
     margin-bottom: 20px;
 }

 .portfolio-discription {
     color: rgba(7, 2, 17, 0.60);
     font-family: 'Inter', sans-serif;
     font-size: 20px;
     font-weight: 400;
     margin-bottom: 42px;
 }

 /* news-letter-section */

 .news-letter {
     background: rgba(255, 0, 0, 0.05);
     border-radius: 20px;
     margin: 120px auto;
     max-width: 1320px;
     height: 600px;
 }

 .container-news {
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
     padding-top: 80px;
 }

 .text-logo-part h2 {
     color: #070211;
     font-family: 'Merriweather Sans',
         sans-serif;
     font-size: 48px;
     font-weight: 900;

 }

 .text-logo-part p {
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: 'Inter',
         sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding: 22px 212px 45px;
 }

 .text-logo-part input {
     padding: 25px 50px;
     border-radius: 20px;
     border: none;
     background: #FFF;
     margin: 0;
 }

 .btn-subs {
     background: #F00;
     padding: 25px 50px;
     border-radius: 20px;
     border: none;

 }

 footer {
     background: #070211;
     height: 609px;
     background-size: cover;
 }

 .footer-container {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     font-family: 'Inter', sans-serif;
     padding-top: 120px;

 }

 .address {
     color: #FFF;
     font-size: 24px;
     font-weight: 500;
     padding-left: 140px;
     padding-right: 700px;


 }

 .call-png {
     color: #FFF;
     font-size: 24px;
     font-weight: 500;
     padding-right: 290px;

 }

 hr {
     background-color: rgba(255, 255, 255, 0.067);
     margin: 50px 140px 0;
     height: 1px;
     border: none;

 }

 .footer-img-logo {
     padding-top: 48px;
     align-items: center;
     text-align: center;


 }

 .right-reserve {
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
     color: #FFF;
     margin: 65px 140px 0;
 }

















 /* font-collected */
 font-family: 'Inter',
 sans-serif;

 font-family: 'Merriweather Sans',
 sans-serif;