 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merriweather+Sans:wght@300&display=swap');

 font-family: 'Inter',
 sans-serif;

 font-family: 'Merriweather Sans',
 sans-serif;

 * {
     margin: 0;
     padding: 0;

 }

 /* heading-section */

 header {
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
     width: 90%;
     height: 600px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 16px;
     /* margin-bottom: 100px; */
 }

 .banner-text {
     color: #FFF;
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;

 }

 .banner-text .text-1 {
     font-size: 32px;
     font-weight: 400;
     margin: 0;
     padding-top: 175px;
 }

 .banner-text .text-2 {
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 55px;
     font-weight: 850;
     margin: 0 316px;
     padding-bottom: 175px;
 }

 /* main-section-start */

 .container-a {
     display: flex;
     justify-content: center;
 }

 .text-offer {
     text-align: center;
     font-family: 'Inter', sans-serif;
 }

 .text-offer .line-a {
     color: #F00;
     text-align: center;
     font-size: 88px;
     font-weight: 700;
     margin-bottom: 30px;

 }

 .text-offer .line-b {
     color: #F00;
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 5px;
 }

 .text-offer .line-c {
     color: #070211;
     font-size: 48px;
     font-style: normal;
     font-weight: 700;
     margin-top: 0;
     margin-bottom: 30px;
 }

 .container-a .new-year {
     width: 802.9px;
     height: 500px;
 }

 .welcome {
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     width: 90%;
     height: 600px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
 }

 .container-party {
     align-items: center;
     display: flex;
     justify-content: space-between;

 }

 .container-party .welcome-title {
     max-width: 642px;
     color: #FFF;
     font-family: 'Merriweather Sans',
         sans-serif;
     font-size: 64px;
     font-weight: 680;
     padding-top: 126px;
     padding-left: 126px;
     padding-bottom: 0px;


 }

 .container-party .description {
     color: rgba(255, 255, 255, 0.80);
     max-width: 697px;
     font-family: 'Inter',
         sans-serif;
     font-size: 18px;
     font-weight: 400;
     padding-left: 126px;
     padding-top: 0;
     padding-bottom: 214px;

 }

 .bnt-a {
     color: #FFF;
     margin-right: 200px;
     margin-top: 42px;
     margin-left: 58px;
     font-family: 'Inter',
         sans-serif;
     text-align: center;
     font-size: 20px;
     font-weight: 800;
     padding: 0px 30px;
     border: none;
     background-color: transparent;
     text-transform: uppercase;
 }

 .img-party {

     max-width: 319px;

     margin: 68px 138px 150px 0px;
     flex-direction: column;
 }

 .container-location {
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     width: 90%;
     height: 480px;
     max-width: 1320px;
     margin: 50px auto;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 16px;
 }

 .container-location .location-text {
     text-align: center;
     padding-top: 100px;
     margin: 0;
     padding-bottom: 0;
     color: #070211;
     font-family: 'Inter',
         sans-serif;
     font-weight: 650;
     font-size: 32px;

 }

 .r {
     color: #F00;
 }

 .btn-b {
     padding: 16px 32px;
     border-radius: 8px;
     border: 0;
     background: #F00;
     gap: 10px;
     
 }

 .portpolio {
     max-width: 90%;
     height: 600px;
     max-width: 1320px;
     margin: 50px auto;
 }

 .portfolio-title {
     color: #F00;
     font-family: 'Inter',sans-serif;
     font-size: 24px;
     font-weight: 500;
     
 }

 .awesome-portfolio{
    color: #070211;
    font-family: 'Merriweather Sans',
    sans-serif;
    font-size: 48px;
    font-weight: 900;

 }

 .portfolio-discription{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    font-weight: 400;

 }

 .gifts-container img{
    border-radius: 20px;
    
 }
